@import "tailwindcss";

@theme {
  --color-brand: #8fb0c6;
  --color-brand-foreground: #ffffff;
  --color-background: var(--background);
  --color-foreground: #212529;
  --color-muted: #f2f2f7;
  --color-muted-foreground: #6c757d;
  --font-heading: var(--font-inter);
  --font-sans: var(--font-roboto);

  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}

:root {
  --background: #e3efef;
  --foreground: #212529;
  
  /* Slider Responsive Width Variables */
  --slide-width: 100%;
}

@media (min-width: 768px) {
  :root { --slide-width: 50%; }
}

@media (min-width: 1024px) {
  :root { --slide-width: 33.333333%; }
}

/* We don't want dark mode as it's not in the design */
/* @media (prefers-color-scheme: dark) { ... } */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}
